html body {
	margin: 0;
	padding: 0;
}

body {
	background: #262626;
}

body::before {
	content: "";
    background: linear-gradient(
130deg
,#ff7a18,#af002d 41.07%,#319197 76.05%);
    display: block;
    height: 50%;
    width: 100%;
    position: absolute;
    z-index: -1;
}


header nav {
	padding: 0 48px;
	margin-bottom: 48px;
	background: rgba(0,0,0,.25);
    box-shadow: inset 0 -2px 5px rgb(0 0 0 / 33%);
	height: 60px;
	display: flex;
	align-items: center;
}

.logo {
	min-width: 230px;
}

.icon-logo-star {
    pointer-events: none;
    fill: hsla(0,0%,100%,.66);
    width: 25px;
    height: 25px;
    margin: 0 .5rem 0 0;
}

header nav .logo a {
	font-size: 30px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
	font-family: Gotham Narrow SSm A,Gotham Narrow SSm B,Sans-Serif;
    font-style: normal;
    font-weight: 600;
}

header nav ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}

header nav ul li {
	display: inline-block;
}

header nav ul li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 19px 16px;
	font-size: 12px;
	font-family: Gotham Narrow SSm A,Gotham Narrow SSm B,Sans-Serif; 
}

header nav div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

main {
	max-width: 1600px;
	margin: auto;
}

h1, h2, h3, h4 {
	font-family: Gotham Narrow SSm A,Gotham Narrow SSm B,Sans-Serif;
    font-style: normal;
    font-weight: 800;
}

p {
	font-family: Gotham Narrow SSm A,Gotham Narrow SSm B,Sans-Serif;
    font-style: normal;
    font-weight: 400;
	font-size: 20px;
}

main li::marker {
	content: "⦾ ";
    margin: 0 .5rem 0 0;
    color: #ff7a18;
}
.header-danner-section {
	color: white;
}

.header-danner-section section h1 {
	text-transform: capitalize;
	font-size: 48px;
}

.author {
	display: flex;
}

.author img {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.breadcrumbs {
	list-style: none;
	margin: 0;
	padding: 0;
}

.breadcrumbs li {
	display: inline-block;
}

.breadcrumbs li a {
	color: #ffdfc7;
	text-transform: uppercase;
	font-family: Gotham Narrow SSm A,Gotham Narrow SSm B,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
    font-style: normal;
    font-weight: 800;
	text-decoration: none;
}

.breadcrumbs li::after {
	content: " /";
}

section h1 {
	margin: 0;
}

section>p {
	font-size: 23px;
	width: 50%;
	line-height: 1.9;
}

.article-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
	padding: 64px;
	background: #fff;
	border-radius: 10px;
}

.link {
	text-decoration: underline;
	color: black;
	text-transform: capitalize;
}

.text h2 {
	display: inline;
	font-size: 32px;
}

.arrow {
	display: block;
	margin: 30px 0;
}

.arrow::before {
	display: inline-block;
    margin-right: 8px;
	content: "▶";
    color: #4472b9;
    font-family: sans-serif;
	font-size: 32px;
}

.content-block-container-left h4 {
	font-size: 24px;
}

.content-block-container-left p {
	font-size: 20px;

}
.content-block-title, .content-block-one-column  {
	flex-basis: 48%;
	
}

.content-block-title h2 {
	font-size: 32px;
}

.left-column {
	flex-basis: 48%;
	height: fit-content;
	box-sizing: border-box;
}

.right-column {
	flex-basis: 48%;
	height: fit-content;
	box-sizing: border-box;
}

.content-block-left-column {
	background:linear-gradient(rgba(156,39,176,.2),#fff);
	height: fit-content;
	padding: 24px;
	box-sizing: border-box;
}

.content-block-left-column img {
	max-width: 350px;
}

.content-block-right-column { 
	background: linear-gradient(rgba(255,138,0,.2),#fff);
	height: fit-content;
	padding: 24px;
	box-sizing: border-box;
}

.content-block-right-column img {
	max-width: 350px;
}

.content-block-one-column img {
	max-width: 350px;
	display: flex;
}
.content-block-two-column {
	display: flex;
	flex-basis: 48%;
}

.content-block-two-column button {
	background: #5e5e5e;
	padding: 16px 24px;
	border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;	
}
.content-block-container-left {
	width: 50%;
	height: auto;
}

.content-block-container-right {
	width: 50%;
	height: auto;
}

.content-block-conteiner-right img {
	width: 250px;
}

.after-column-content h2 {
	font-size: 32px;
}

.after-column-content ul {
	margin: 0;
	padding-inline-start: 16px;
	list-style: none;
}

.after-column-content table {
	border-radius: 10px;
	border-spacing: 0;
	border: 1px solid #a7a7a7;
}

.after-column-content table tbody th {
	text-align: left;
    background: #262626;
    color: #fff;
    border-right: 1px solid #a7a7a7;
	font-size: 16px;
	padding: 12px;	
}

.after-column-content table tbody th:first-child {
	border-radius: 10px 0 0 0; 
}

.after-column-content table tbody th:last-child {
	border-radius: 0 10px 0 0;
}


.after-column-content table tbody td {
	text-align: left;
    color: #000;
    border-right: 1px solid #a7a7a7;
	font-size: 16px;
	padding: 12px;	
}

code {
	background-color: #000;
    display: block;
    max-width: 100%;
    min-width: 100px;
    font-size: 16px;
    padding: 15px 20px 12px 22px;
    line-height: 1.75;
	color: #f5d67b;
	border-radius: 10px;
}

code span {
	color: #72e0d1;
}

footer {
	background: #111;
	margin-top: 240px;
}

.footer-container {
	max-width: 1600px;
	margin: auto;
}

.footer-head-postion {
	display: flex;
}
.footer-container form {
	background: #434343;
    padding: 24px;
	margin-top: -48px;
	position: relative;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
	width: 850px;
	height: 143px;
}

.footer-title {
	color: #fff;
	font-size: 28px;
    margin-top: 66px;
	font-weight: 400;
}

.footer-grid-column {
	display: flex;
	justify-content: flex-start;
}

.footer-column {
	width: 25%;
}

.footer-column ul {
	padding: 0;
	list-style: none;
}

.footer-column ul h2 {
	color: #ff7a18;
	font-weight: 400;
}

.footer-column li a {
	color: #a9a39f;
}